*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Roboto;
  background: #f4f4f4;
  color: #333;
  text-align: center;
}

header{
  background: #003366;
  color: #ffffff;
}
nav{
  backgournd-color: #36454f;
  margin: 0 auto;
  max-width: 800px;
}
nav ul{
  list-style-type: none;
}
nav a{
  display: block;
  color: white;
  text-alignment: center;
  padding 1rem;
  text-decoration: none;
}
nav a:hover{
  border: 1px solid #ffff;
  backgound: white;
  color: #003366;
}
.active{
  color: yellow;
}
@ media(min-width: 640px){
  nav ul {
    display: flex;
  }
  nav ul l1{
    flex: 1 1 100%;
  }
}

footer{
  background: #003366;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}
footer P {
  margin: 5px;
}