:root {
    --primary-color: #0d47a1; /* dark blue */
    --secondary-color: #1565c0; /* primary blue*/
    --accent1-color: #42a5f5; /*lighter accent blue */
    --accent2-color: #bbdefb; /* very light blue */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Ariel, helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    
}
